* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pink {
  width: 100%;
  padding: 30px 20px;
  background-color: #FF00FF;
  display: flex;
}

.pink > div {
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
  justify-content: flex-end;
  align-items: center;
  background-color: #FFCCFF;
}

.pink > div:first-child {
  margin-right: auto;
}

.gray {
  width: 100%;
  background-color: #C0C0C0;
  display: flex;
  justify-content: center;
}

.lime-green {
  background-color: #CCFF99;
  width: 300px;
}

.green {
  background-color: #008000;
  flex-grow: 1;
  display: flex;
  padding: 20px;
  max-width: 700px;
  flex-wrap: wrap;
}

.yellow {
  background-color: #FFFF00;
  margin: 10px;
  height: 130px;
  flex-basis: 200px;
}

.blue {
  background-color: #3399FF;
  width: 100%;
  padding: 20px;
  display: flex;
}

.blue > div {
  background-color: #CCFFFF;
  height: 40px;
  margin: 10px;
}

.blue > div:last-child {
  flex-basis: 45%;
  max-width: 600px;
}